@use "variables" as *;
@use "mixin" as *;

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  min-width: 320px;
  font-family: "PT Serif", "Yeseva One", "Merriweather", "Roboto", sans-serif;
  overflow-x: hidden;
}

.container {
  max-width: 1240px;
  min-width: 320px;
  margin: 0 auto;
  padding: 0 10px;
  width: 100%;
}

// header
.header {
  position: relative;
  min-height: 46px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background-color: $dark-grey;

  &__menu {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    z-index: 9999;
  }

  &__burger {
    position: absolute;
    left: 10px;
    top: 16px;
    display: flex;
    outline: none;
    border: none;
    flex-direction: column;
    justify-content: space-between;
    width: 35px;
    height: 19px;
    cursor: pointer;
    z-index: 10;
    background-color: transparent;

    &:focus-visible span,
    &:hover span {
      background-color: $yellow;
    }

    & span {
      display: block;
      width: 100%;
      height: 3px;
      border-radius: 3px;
      background-color: $light-grey;
      transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
    }

    &--open {
      left: unset;
      right: 20px;

      span:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
      }
      span:nth-child(2) {
        opacity: 0;
      }
      span:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -5px);
      }
    }
  }

  &__nav {
    position: absolute;
    top: 0;
    width: 100vw;
    display: flex;
    padding: 110px 23px;
    transform: translateX(100%);
    background-color: $dark-grey;
    opacity: 0;
    visibility: hidden;
    transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out,
      visibility 0s linear 0.4s;

    &--open {
      transform: translateX(-10px);
      opacity: 1;
      visibility: visible;
      transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
    }

    &-list {
      @include list-reset;
      flex-direction: column;
      align-items: flex-start;
    }

    &-item {
      padding: 10px 0;
    }

    &-link {
      display: flex;
      align-items: center;
      text-decoration: none;
      font-family: $font3;
      font-weight: 300;
      font-size: 16px;
      line-height: 137%;
      text-transform: uppercase;
      color: $white;
      gap: 27px;
      outline: none;
      transition: color 0.3s ease;
      cursor: pointer;

      &:focus-visible,
      &:hover {
        color: $yellow;
      }
    }
  }
}

// main
.hero {
  padding-top: 29px;
  padding-bottom: 16px;
  background-image: (url("../../assets/images/bg-1.png"));
  background-size: cover;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__subtitle {
    display: block;
    margin-bottom: 20px;
    font-family: $font-family;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0.05em;
    text-align: center;
    color: $white;
  }

  &__title {
    margin: 0;
    max-width: 252px;
    font-family: $second-family;
    font-weight: 400;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    color: $yellow;
  }

  &__img {
    margin-bottom: 5px;
    width: 150px;
  }

  &__button {
    @include button;
    margin-bottom: 22px;
  }

  &__descr {
    margin: 0;
    margin-bottom: 16px;
    font-family: $font-family;
    font-weight: 700;
    font-size: 15px;
    line-height: 127%;
    letter-spacing: 0.05em;
    text-align: center;

    &--yellow {
      margin: 0;
      color: $yellow;
    }

    &--white {
      margin: 0;
      color: $white;
    }
  }

  &__details {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    outline: none;
    margin: 0;
    padding: 0;
    gap: 3px;
    background-color: transparent;
    cursor: pointer;

    &--img {
      width: 16px;
      height: 16px;
    }

    &--text {
      font-family: $font-family;
      font-weight: 400;
      font-size: 8px;
      letter-spacing: 0.05em;
      text-align: center;
      color: $white;
    }
  }
}

.benefits {
  padding-top: 81px;
  padding-bottom: 50px;
  background: radial-gradient(
      84.35% 50.3% at 48.75% 49.71%,
      #2950c2 0%,
      rgba(38, 91, 199, 0.96) 40.62%,
      rgba(39, 98, 187, 0) 85.42%
    ),
    url("../../assets/images/bg-2.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  &__container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  &__descr {
    position: relative;
    margin: 0;
    max-width: 221px;
    font-family: $second-family;
    font-weight: 400;
    font-size: 18px;
    line-height: 128%;
    letter-spacing: 0.05em;
    text-align: center;
    color: $white;

    &::before {
      content: "";
      position: absolute;
      top: -40px;
      left: -25px;
      width: 23px;
      height: 23px;
      background-image: url("../../assets/images/quote-open.svg");
      background-repeat: no-repeat;
      background-size: contain;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: -17px;
      right: -21px;
      width: 23px;
      height: 23px;
      background-image: url("../../assets/images/quote-close.svg");
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
}

.extra-benefits {
  padding-top: 38px;
  padding-bottom: 40px;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__text {
    margin: 0;
    margin-bottom: 25px;
    font-family: $font-family;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.05em;
    color: $grey;

    &--bold {
      font-weight: 700;
    }
  }

  &__button {
    @include button;
    margin-top: -8px;
    padding: 14px 37px;
  }
}

.conclusion {
  position: relative;
  padding-top: 53px;
  padding-bottom: 40px;
  background-image: (url("../../assets/images/bg-1.png"));
  background-size: cover;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__text {
    margin: 0;
    margin-bottom: 21px;
    align-self: flex-start;
    max-width: 262px;
    font-family: $third-family;
    font-weight: 400;
    font-size: 15px;
    line-height: 133%;
    letter-spacing: 0.05em;
    color: $white;

    &--yellow {
      font-weight: 900;
      color: $yellow;
    }

    &--bold {
      font-weight: 900;
    }
  }

  &__wrapper {
    margin-bottom: 31px;
    padding: 29px 13px;
    border-radius: 20px;
    background-color: rgba(243, 243, 242, 0.8);

    &_descr {
      margin: 0;
      font-family: $third-family;
      font-weight: 400;
      font-size: 16px;
      line-height: 144%;
      letter-spacing: 0.05em;
      color: $dark-grey;

      &--bold {
        font-weight: 700;
      }
    }
  }

  &__btn {
    @include button;
    border: 1px solid $white;
    padding: 12px 38px;
    color: $white;
    background-color: transparent;
  }
}

// footer
.footer {
  padding-top: 13px;
  padding-bottom: 13px;
  background-image: url("..//images/bg-1.png");

  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
  }
  &__year {
    font-family: $font3;
    font-weight: 400;
    font-size: 10px;
    line-height: 230%;
    letter-spacing: 0.05em;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
  }
}
