@use "variables" as *;
@use "mixin" as *;

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  min-width: 320px;
  height: 100%;
  font-family: "PT Serif", "Yeseva One", "Merriweather", "Roboto", sans-serif;
}

#app {
  overflow-x: hidden;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 10px;
  width: 100%;
  height: 100%;
}

// header
.header {
  position: relative;
  min-height: 46px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background-color: $dark-grey;

  &__menu {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    z-index: 9999;
  }

  &__burger {
    position: absolute;
    left: 10px;
    top: 14px;
    display: flex;
    outline: none;
    border: none;
    flex-direction: column;
    justify-content: space-between;
    width: 35px;
    height: 19px;
    cursor: pointer;
    z-index: 99999;
    background-color: transparent;

    &:focus-visible span,
    &:hover span {
      background-color: $yellow;
    }

    & span {
      display: block;
      width: 100%;
      height: 3px;
      border-radius: 3px;
      background-color: $light-grey;
      transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
    }

    &--open {
      left: unset;
      right: 20px;

      span:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
      }
      span:nth-child(2) {
        opacity: 0;
      }
      span:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -5px);
      }
    }
  }

  &__nav {
    position: absolute;
    top: 0;
    width: 100vw;
    display: flex;
    padding: 110px 23px;
    transform: translateX(100%);
    background-color: $dark-grey;
    opacity: 0;
    visibility: hidden;
    z-index: 99998;
    transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out,
      visibility 0s linear 0.4s;

    &--open {
      transform: translateX(-10px);
      opacity: 1;
      visibility: visible;
      transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
    }

    &-list {
      @include list-reset;
      flex-direction: column;
      align-items: flex-start;
    }

    &-item {
      padding: 10px 0;
    }

    &-link {
      display: flex;
      align-items: center;
      text-decoration: none;
      font-family: $font3;
      font-weight: 300;
      font-size: 16px;
      line-height: 137%;
      text-transform: uppercase;
      color: $white;
      gap: 27px;
      outline: none;
      transition: color 0.3s ease;
      cursor: pointer;

      &:focus-visible,
      &:hover {
        color: $yellow;
      }
    }
  }

  &__wrapper {
    display: flex;
    align-items: center;
    margin-left: 48px;
    gap: 16px;

    &_link {
      outline: none;
    }

    &_logo {
      width: 42px;
      height: 42px;
    }

    &_title {
      margin: 0;
      font-family: $second-family;
      font-weight: 400;
      font-size: 12px;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: $yellow;

      &-results {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        font-size: 20px;
        letter-spacing: 0.1em;
      }
    }
  }
}

// main
.hero {
  padding-top: 29px;
  padding-bottom: 16px;
  background-image: (url("../../assets/images/bg-1.png"));
  background-size: cover;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__subtitle {
    display: block;
    margin-bottom: 20px;
    font-family: $font-family;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0.05em;
    text-align: center;
    color: $white;
  }

  &__title {
    margin: 0;
    max-width: 252px;
    font-family: $second-family;
    font-weight: 400;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    color: $yellow;
  }

  &__img {
    margin-bottom: 5px;
    width: 150px;
  }

  &__button {
    @include button;
    margin-bottom: 22px;
  }

  &__descr {
    margin: 0;
    margin-bottom: 16px;
    font-family: $font-family;
    font-weight: 700;
    font-size: 15px;
    line-height: 127%;
    letter-spacing: 0.05em;
    text-align: center;

    &--yellow {
      margin: 0;
      color: $yellow;
    }

    &--white {
      margin: 0;
      color: $white;
    }
  }

  &__details {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    outline: none;
    margin: 0;
    padding: 0;
    gap: 3px;
    background-color: transparent;
    cursor: pointer;

    &--img {
      width: 16px;
      height: 16px;
    }

    &--text {
      font-family: $font-family;
      font-weight: 400;
      font-size: 8px;
      letter-spacing: 0.05em;
      text-align: center;
      color: $white;
    }
  }
}

.benefits {
  padding-top: 81px;
  padding-bottom: 50px;
  background: radial-gradient(
      84.35% 50.3% at 48.75% 49.71%,
      #2950c2 0%,
      rgba(38, 91, 199, 0.96) 40.62%,
      rgba(39, 98, 187, 0) 85.42%
    ),
    url("../../assets/images/bg-2.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  &__container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  &__descr {
    position: relative;
    margin: 0;
    max-width: 221px;
    font-family: $second-family;
    font-weight: 400;
    font-size: 18px;
    line-height: 128%;
    letter-spacing: 0.05em;
    text-align: center;
    color: $white;

    &::before {
      content: "";
      position: absolute;
      top: -40px;
      left: -25px;
      width: 23px;
      height: 23px;
      background-image: url("../../assets/images/quote-open.svg");
      background-repeat: no-repeat;
      background-size: contain;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: -17px;
      right: -21px;
      width: 23px;
      height: 23px;
      background-image: url("../../assets/images/quote-close.svg");
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
}

.extra-benefits {
  padding-top: 38px;
  padding-bottom: 40px;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__text {
    margin: 0;
    margin-bottom: 25px;
    font-family: $font-family;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.05em;
    color: $grey;

    &--bold {
      font-weight: 700;
    }
  }

  &__button {
    @include button;
    margin-top: -8px;
    padding: 14px 37px;
  }
}

.conclusion {
  position: relative;
  padding-top: 53px;
  padding-bottom: 40px;
  background-image: (url("../../assets/images/bg-1.png"));
  background-size: cover;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__text {
    margin: 0;
    margin-bottom: 21px;
    align-self: flex-start;
    max-width: 262px;
    font-family: $third-family;
    font-weight: 400;
    font-size: 15px;
    line-height: 133%;
    letter-spacing: 0.05em;
    color: $white;

    &--yellow {
      font-weight: 900;
      color: $yellow;
    }

    &--bold {
      font-weight: 900;
    }
  }

  &__wrapper {
    margin-bottom: 31px;
    padding: 29px 13px;
    border-radius: 20px;
    background-color: rgba(243, 243, 242, 0.8);

    &_descr {
      margin: 0;
      font-family: $third-family;
      font-weight: 400;
      font-size: 16px;
      line-height: 144%;
      letter-spacing: 0.05em;
      color: $dark-grey;

      &--bold {
        font-weight: 700;
      }
    }
  }

  &__btn {
    @include button;
    border: 1px solid $white;
    padding: 12px 38px;
    color: $white;
    background-color: transparent;
  }
}

// footer
.footer {
  max-height: 49px;
  padding-top: 13px;
  padding-bottom: 13px;
  background-image: url("../images/bg-1.png");
  overflow: hidden;

  &__container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
  }

  &__year {
    font-family: $font3;
    font-weight: 400;
    font-size: 10px;
    line-height: 230%;
    letter-spacing: 0.05em;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
  }

  &__results {
    &_wrapper {
      position: absolute;
      bottom: -13px;
      left: 0;
      max-height: 18px;
      overflow-y: auto;
      scrollbar-width: none;
    }

    &_text {
      margin: 0;
      font-family: $font3;
      font-weight: 400;
      font-size: 7px;
      line-height: 129%;
      letter-spacing: 0.43em;
      text-transform: uppercase;
      text-align: center;
      color: rgba(255, 255, 255, 0.5);
    }
  }
}

// test
.test {
  display: flex;
  align-items: center;
  background-image: url("../images/bg-1.png");
  background-size: cover;

  &__container {
    display: flex;
    min-height: calc(100vh - 46px);
    padding-top: 17px;
    padding-bottom: 27px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    &_loading {
      justify-content: flex-start;
    }
  }

  &__progress {
    margin-bottom: 20px;
    width: 100%;

    &-bar {
      width: 100%;
      height: 11px;
      appearance: none;

      &::-webkit-progress-bar {
        background-color: $light-grey;
        border-radius: 10px;
      }

      &::-webkit-progress-value {
        background-color: $green;
        border-radius: 10px;
      }

      &::-moz-progress-bar {
        background-color: $green;
        border-radius: 10px;
      }
    }
  }

  &__wrapper {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    height: 100%;
    width: 100%;
  }

  &__question {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-bottom: 33px;

    &_text {
      margin: 0;
      width: 100%;
      font-family: $font-family;
      font-weight: 400;
      font-size: 20px;
      letter-spacing: 0.05em;
      text-align: center;
      color: $white;
      white-space: pre-wrap;
    }
  }

  &__button {
    @include button;
    align-self: center;
  }

  &__answers {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    width: 100%;

    &-radio {
      width: 100vw;
    }

    &-color {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      justify-items: center;
      gap: 21px;
    }

    &-block {
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: space-around;
      gap: 8px;
    }
  }

  &__answer {
    &_wrapper-radio {
      position: relative;
      width: 100%;
      padding: 15px 35px;
      background-color: rgba(242, 243, 243, 0.15);
      transition: background-color 0.3s ease-in-out;

      &:has(.test__answer_input-radio:checked) {
        background-color: $yellow;
      }
    }

    &_input-radio {
      appearance: none;
      position: absolute;

      &:checked + .test__answer_label-radio:after {
        opacity: 1;
      }

      &:checked + .test__answer_label-radio {
        color: $grey;
      }
    }

    &_label-radio {
      display: inline-block;
      padding-left: 49px;
      width: 100%;
      font-family: $font-family;
      font-weight: 400;
      font-size: 18px;
      letter-spacing: 0.05em;
      color: $white;
      cursor: pointer;
      transition: color 0.3s ease-in-out;

      &::before {
        position: absolute;
        content: "";
        display: block;
        width: 20px;
        height: 20px;
        border: 1px solid $white;
        border-radius: 50%;
        top: calc(50% - 10px);
        left: 35px;
        z-index: 1;
        transition: all 0.3s ease-in-out;
      }

      &::after {
        position: absolute;
        content: "";
        display: block;
        width: 20px;
        height: 20px;
        border: 1px solid $grey;
        border-radius: 50%;
        top: calc(50% - 10px);
        left: 35px;
        background-color: $blue;
        opacity: 0;
        z-index: 2;
        transition: opacity 0.3s ease-in-out;
      }
    }

    &_wrapper-color {
      position: relative;
    }

    &_input-color {
      appearance: none;
      position: absolute;

      &:checked + .test__answer_label-color:after {
        opacity: 1;
      }
    }

    &_label-color {
      display: inline-block;
      width: 75px;
      height: 75px;
      cursor: pointer;

      &::before {
        position: absolute;
        content: "";
        display: block;
        width: 75px;
        height: 75px;
        border: none;
        top: 0;
        left: 0;
        z-index: 1;
        transition: all 0.3s ease-in-out;
      }

      &::after {
        position: absolute;
        content: "";
        display: block;
        width: 81px;
        height: 81px;
        border: 6px solid $yellow;
        top: -3px;
        left: -3px;
        opacity: 0;
        z-index: 2;
        transition: opacity 0.3s ease-in-out;
      }
    }

    &_wrapper-block {
      position: relative;
    }

    &_input-block {
      appearance: none;
      position: absolute;

      &:checked + .test__answer_label-block:after {
        opacity: 1;
      }
    }

    &_label-block {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 41px;
      height: 41px;
      font-family: $font-family;
      font-weight: 400;
      font-size: 20px;
      line-height: 245%;
      text-align: center;
      color: $dark-blue;
      background-color: $white;
      cursor: pointer;

      &::before {
        position: absolute;
        content: "";
        display: block;
        width: 41px;
        height: 41px;
        border: none;
        top: 0;
        left: 0;
        z-index: 1;
        transition: all 0.3s ease-in-out;
      }

      &::after {
        position: absolute;
        content: "";
        display: block;
        width: 41px;
        height: 41px;
        border: 6px solid $yellow;
        top: 0;
        left: 0;
        opacity: 0;
        z-index: 2;
        transition: opacity 0.3s ease-in-out;
      }
    }
  }
}

.loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 30px;
  padding-left: 15px;
  padding-right: 15px;

  &__title {
    margin: 0;
    margin-bottom: 33px;
    max-width: 240px;
    font-family: $font-family;
    font-weight: 400;
    font-size: 23px;
    letter-spacing: 0.05em;
    text-align: center;
    color: $white;
  }

  &__img {
    margin-bottom: 28px;
    width: 65px;
    height: 68px;
    animation: spin 2s linear infinite;
  }

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  &__text {
    margin: 0;
    align-self: start;
    font-family: $font-family;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.05em;
    white-space: normal;
    color: $white;

    &_dot {
      display: inline-block;
    }
  }
}

// results
.results {
  display: flex;
  min-height: calc(100vh - 95px);
  align-items: center;
  background-image: url("../images/bg-1.png");
  background-size: cover;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 24px;
  }

  &__title {
    margin: 0;
    margin-bottom: 12px;
    font-family: $font-family;
    font-weight: 700;
    font-size: 18px;
    line-height: 122%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-align: center;
    color: $green;
  }

  &__subtitle {
    margin: 0;
    margin-bottom: 13px;
    font-family: $font-family;
    font-weight: 700;
    font-size: 15px;
    line-height: 107%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-align: center;
    color: $white;
  }

  &__text {
    margin: 0;
    margin-bottom: 22px;
    font-family: $font-family;
    font-weight: 400;
    font-size: 14px;
    line-height: 129%;
    text-align: center;
    color: $white;

    &_underline {
      text-decoration: underline;
      text-decoration-skip-ink: none;
    }
  }

  &__warning {
    margin: 0;
    margin-bottom: 16px;
    padding: 15px 12px;
    max-width: 256px;
    border-radius: 6px;
    font-family: $font3;
    font-weight: 500;
    font-size: 8px;
    line-height: 175%;
    letter-spacing: 0.25em;
    text-transform: uppercase;
    text-align: center;
    color: $white;
    background: $storm-grey;
  }

  &__timer {
    margin: 0;
    margin-bottom: 16px;
    max-width: 256px;
    font-family: $font-family;
    font-weight: 400;
    font-size: 11px;
    letter-spacing: 0.1em;
    text-align: center;
    color: $green;

    &_counting {
      font-size: 20px;
      line-height: 150%;
    }
  }

  &__button {
    position: relative;
    outline: none;
    border: none;
    max-width: 290px;
    border-radius: 5px;
    margin-bottom: 30px;
    padding: 30px 15px 30px 62px;
    font-family: $font3;
    font-weight: 900;
    font-size: 15px;
    letter-spacing: 0.05em;
    text-align: start;
    color: $white;
    background-color: $red;
    background-image: url("../images/phone.svg");
    background-repeat: no-repeat;
    background-position: 15px center;
    cursor: pointer;
    transition: box-shadow 0.3s ease-in-out;

    &:focus-visible {
      box-shadow: inset 0 0 0 9999px rgba(255, 255, 255, 0.3);
    }

    &:hover {
      box-shadow: inset 0 0 0 9999px rgba(255, 255, 255, 0.3);
    }

    &:active {
      box-shadow: inset 0 0 0 9999px rgba(0, 0, 0, 0.3);
    }
  }

  &__data {
    min-height: 130px;

    &_content {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
    }

    &_info {
      margin: 0;
      font-family: $font-family;
      font-weight: 400;
      font-size: 14px;
      letter-spacing: 0.05em;
      color: $white;
      opacity: 0;
      transform: translateY(20px);
      animation: fadeInUp 0.7s forwards;
      animation-delay: 0.2s;

      @keyframes fadeInUp {
        to {
          opacity: 1;
          transform: translateY(0);
        }
      }
    }
  }
}
