$font-path: "/fonts/";

$font-family: "PT Serif";
$second-family: "Yeseva One";
$third-family: "Merriweather";
$font3: "Roboto";

$white: #ffffff;
$yellow: #ffc700;
$dark-blue: #0d0c11;

$black: #000000;
$light-blue: #a0c3ff;
$blue: #116acc;
$grey: #9ca3af;
$shy-grey: #e5e5e5;
$light-grey: #f3f4f6;
$dark-red: #ba0000;
$green: #76ca66;
$red: #fd4e5d;
