$font-path: "/fonts/";

$font-family: "PT Serif";
$second-family: "Yeseva One";
$third-family: "Merriweather";
$font3: "Roboto";

$white: #ffffff;
$yellow: #ffc700;
$darkorange: #ffa200;
$dark-blue: #0d0c11;
$dark-grey: #181818;
$storm-grey: #1c2741;
$grey: #272727;
$light-grey: #696969;
$shy-grey: #8e8e8e;
$green: #3bde7c;
$blue: #2950c2;
$red: #eb1b00;
$dark-red: #9b1111;
